:root {
  --color-error-icon: hsl(1.1, 83.2%, 62.5%);
  --color-warning-icon: hsl(35.8, 100%, 50%);
  --color-info-icon: hsl(199, 92%, 56%);
  --color-success-icon: hsl(122.4, 39.4%, 49.2%);
  --color-secondary: var(--color-teal-500);
  --color-secondary-300: var(--color-teal-500);
  --color-secondary-700: var(--color-teal-500);
  --color-primary: var(--color-indigo-500);
  --color-primary-300: var(--color-indigo-500);
  --color-primary-700: var(--color-indigo-500);
}
.color-error {
  color: var(--color-error-icon);
}
.color-warning {
  color: var(--color-warning-icon);
}
.color-info {
  color: var(--color-info-icon);
}
.color-success {
  color: var(--color-success-icon);
}
.color-primary {
  color: var(--color-primary);
}
.color-secondary {
  color: var(--color-secondary);
}
.color-tertiary {
  color: var(--color-red-500);
}
body {
  background-color: var(--color-black);
  font-family: var(--font-sans);
  margin: 0;
}

html,
body {
  height: 100%;
}

.error.fas {
  color: var(--color-error-icon);
}
.warning.fas {
  color: var(--color-warning-icon);
}
.info.fas {
  color: var(--color-info-icon);
}
.success.fas {
  color: var(--color-success-icon);
}

.paper {
  box-shadow: var(--elevation-4);
  border-radius: var(--radius-2xl);
  background-color: var(--color-grey-100);
  padding-inline: var(--size-4);
  padding-block: var(--size-2);
  margin-block-end: var(--size-8);
  position: relative;
}
.paper .collapse h3 {
  margin-block: var(--size-1);
}
.paper .paper {
  border: 1px solid var(--color-black);
  box-shadow: var(--elevation-6);
}

nav .active .fas {
  transform: scale(1.2);
}

label.checkbox {
  flex-direction: row;
  align-items: center;
}
label.checkbox input {
  order: -1;
  height: var(--size-10);
  width: var(--size-10);
  margin-inline-end: var(--size-4);
}

label {
  font-size: 1.2rem;
  margin-block-start: var(--size-4);
  margin-block-end: var(--size-2);
}

input,
select {
  font-size: 1.2rem;
  padding: var(--size-2);
  border-radius: var(--radius-md);
}
input:focus,
select:focus {
  box-shadow: var(--elevation-4);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

form label {
  display: flex;
  flex-direction: column;
}

nav button,
.btn-reset,
.icon-button {
  border: none;
  cursor: pointer;
  margin: 0;
  padding: var(--size-1) var(--size-2);
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}
button.primary,
button.secondary {
  padding-inline: var(--size-4);
  padding-block: var(--size-2);
}
button.primary {
  background-color: var(--color-primary);
  color: var(--color-grey-100);
}
button.primary:focus:not(:disabled),
button.primary:hover:not(:disabled) {
  background-color: var(--color-primary-700);
}
button.primary:disabled {
  background-color: var(--color-primary-300);
}
button.secondary:disabled {
  background-color: var(--color-secondary-300);
}
button.secondary {
  background-color: var(--color-secondary);
  color: var(--color-grey-100);
}
button.secondary:focus:not(:disabled),
button.secondary:hover:not(:disabled) {
  background-color: var(--color-secondary-700);
}

.icon-button {
  padding: var(--size-1) var(--size-2);
}

code {
  background-color: var(--color-grey-300);
  padding-inline: var(--size-4);
  border-radius: var(--radius);
  font-family: var(--font-mono);
  padding-block: 4px;
  margin-block: -4px;
  margin-inline: 1ch;
}

.label-group {
  display: flex;
}
.label-group label {
  flex: 1;
  min-width: 22ch;
}
.label-group label:not(:last-of-type) {
  margin-inline-end: var(--size-4);
}
